.bottom{
    margin: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin-top: 20px;
    gap: 3px;
    background-color:white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.bottom2{
   border-radius: 5px;
    width: auto;
    height: auto;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.bottom3{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    width: auto;
    height: auto;
    gap: 3px;
}
.bottom4{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    width: auto;
    height: auto;
    gap: 3px;
}
.bottom5{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    width: auto;
    height: auto;
    gap: 3px;
}
.bottom1{
    width: auto;
    height: auto;
    gap: 3px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}